<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPHvA2DwPznZSvquSf40MSDKjpDU0cRa4</string>
	<key>GCM_SENDER_ID</key>
	<string>853201720031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tsiory.SocialMedia</string>
	<key>PROJECT_ID</key>
	<string>socialmedia-66fd2</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmedia-66fd2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853201720031:ios:deccf2068cdacb54cbcf6a</string>
</dict>
</plist>